<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="/favicon.ico">
	<title> {% if page.title %} {{ page.title }} | {% endif %} Tobias Lilja</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div id="main">
	
		<header>
			<a id="home" href="/">Tobias Lilja</a>
			
			<ul class="navigation">
				<li><a href="/projects"{% if page.url contains "/projects/" %}class="active"{% endif %} title="Projects I've worked on.">Projects</a></li>
				<li><a href="/about"{% if page.url contains "/about/" %}class="active"{% endif %}>About</a></li>
			</ul>
		</header>
		
		{{ content }}
		
		<footer>
			<p>Tobias Lilja 2018. </p>
		</footer>
	</div>	
</body>
